.blacksmith-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.blacksmith-content {
  margin: 10px;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.363);
}

.blacksmith-weapon-image {
  height: 180px;
  width: 160px;
  border: 4px solid rgb(0, 0, 0);
}
