<div class="row blacksmith-title">
  <h1>Blacksmith</h1>
</div>

<div class="row blacksmith-content">
  <div class="row">
    <div class="row text-center">
      <h3>Weapons</h3>
    </div>
    <div class="col-12">
      <!-- start axe -->
      <div class="col-12 mb-5">
        <!-- weapon and price -->
        <div class="row col-12">
          <div class="col-8 text-left">
            <h4>Upgrade to Axe</h4>
          </div>
          <div class="col-4 text-right"><span class="text-white">Price: 25,800.00</span>
            <span class="text-warning"> Gold</span>
          </div>
        </div>
        <!-- end weapon and price  -->
        <div class="row col-12">
          <div class="col-8 align-self-center">
            <div class="col-12">
              <span class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cumque, molestias eligendi cupiditate
                adipisci provident ratione iste culpa nemo facere natus? Magnam dignissimos sunt sint nemo, alias
                totam tempora debitis!
              </span>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-auto p-2 w-50">Buy</button>
            </div>
          </div>
          <div class="col-4 text-center">

            <img
              src="https://www.kindpng.com/picc/m/723-7236886_drawn-axe-barbarian-barbarian-axe-png-transparent-png.png"
              alt="axe" class=" blacksmith-weapon-image">
          </div>
        </div>
      </div>
      <!-- end axe -->
      <hr>
      <!-- start sword -->
      <div class="col-12 mb-5">
        <!-- weapon and price -->
        <div class="row col-12">
          <div class="col-7 text-left">
            <h4>Upgrade to Sword</h4>
          </div>
          <div class="col-5 text-right"><span class="text-white">Price: 31,500.00</span>
            <span class="text-warning"> Gold</span>
          </div>
        </div>
        <!-- end weapon and price  -->
        <div class="row col-12">
          <div class="col-8 align-self-center">
            <div class="col-12">
              <span class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cumque, molestias eligendi cupiditate
                adipisci provident ratione iste culpa nemo facere natus? Magnam dignissimos sunt sint nemo, alias
                totam tempora debitis!
              </span>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-auto p-2 w-50">Buy</button>
            </div>
          </div>
          <div class="col-4 text-center">

            <img
              src="https://www.theswordshop.co.uk/media/catalog/product/cache/4/image/650x/51005e67a06b64a1769d8f4204ad6b6a/8/8/884017-conanfathersword.carbonsteel.jpg"
              alt="sword" class=" blacksmith-weapon-image">
          </div>
        </div>
      </div>
      <!-- end sword -->
      <hr>
    </div>
  </div>


</div>
