<div class="fixed-top vw-100">
  <div *ngIf="!(this.isFocused | async)" class="row ms-2">
    <app-profile class="col-4"></app-profile>
    <app-resources class="col-8 d-flex align-items-center"></app-resources>
  </div>
  <app-debug-functions></app-debug-functions>

</div>

<div class="row position-absolute col-md-4 col-sm-8">
  <ng-container [ngTemplateOutlet]="menuWindow">
  </ng-container>
</div>

<div class="position-absolute top-50 start-50 translate-middle">
  <h1 id="attacking">Your village is under attack</h1>
</div>

<div class="fixed-bottom vw-100">
  <div class="row">
    <div class="col-12 d-flex flex-row-reverse" *ngIf="this.isLoaded | async">
      <div *ngIf="this.focusedAt.value != 'default'">
        <div>
          <button class="btn btn-primary me-5 mb-5" (click)="meshEvents('default')">Back to Town</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #menuWindow>
  <ng-container [ngSwitch]="this.focusedAt.value">
    <app-blacksmith *ngSwitchCase="'blacksmith'" class=" menu-window"></app-blacksmith>
    <app-storage *ngSwitchCase="'storage'" class="menu-window"></app-storage>
    <app-training *ngSwitchCase="'training'" class="menu-window"></app-training>
    <app-castle *ngSwitchCase="'castle'" class="menu-window"></app-castle>
    <app-entrance *ngSwitchCase="'entrance'" class="menu-window"></app-entrance>
  </ng-container>
</ng-template>
